<div id='signup' layout="column" layout-padding="" layout-align="center center" ng-cloak="" class="inputdemoIcons" g-controller="signupController">

  <h1>Sign Up</h1>
  <br>
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <label>Name</label>
      <md-icon class="name"></md-icon>
      <input ng-model="user.name" type="text">
    </md-input-container>

    <md-input-container class="md-block">
      <md-icon class="email"></md-icon>
      <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>


    <md-input-container md-no-float="" class="md-block">
      <md-icon></md-icon>
      <input ng-model="user.username" type="text" placeholder="Username">
    </md-input-container>

    <md-input-container md-no-float="" class="md-block">
      <md-icon style="display:inline-block;"></md-icon>
      <input ng-model="user.password" type="password" placeholder="Password">
    </md-input-container>

    <p ng-show='error'>{{errorMessage}}</p>
    <div>
      <md-button type="submit" layout-align="center center" ng-disabled="disabled" ng-click="register()">Register</md-button>
    </div>

  </md-content>

</div>
