.title {
  font-family: 'Lobster', cursive;
  font-size: 100px;
}

.pageTitle {
  font-family: 'Cabin', sans-serif;
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 20px;
}

md-content.md-padding {
  background-color: transparent;
}

.navigation {
    background-color: #61BFAD;
    color: white;
}

.circle {
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  animation-direction: alternate;
}
.circle:after {
  content: '';
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.2+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#33ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.circle.sunset {
  width: 10.99288336vh;
  height: 10.99288336vh;
  top: -10.99288336vh;
  background: #00d2ff;
  background: #FF5F6D;
  background: -webkit-linear-gradient(-45deg, #FFC371, #FF5F6D);
  background: linear-gradient(-45deg, #FFC371, #FF5F6D);
  animation: orb1 30s cubic-bezier(0.27, 0.96, 0.58, 1) alternate infinite;
  opacity: 0.68699903;
}
.circle.coolice {
  background: #4CA1AF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, #C4E0E5, #4CA1AF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, #C4E0E5, #4CA1AF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 14.95371525vh;
  height: 14.95371525vh;
  top: -14.95371525vh;
  animation: orb2 26s cubic-bezier(0.27, 0.96, 0.58, 1) alternate infinite;
  opacity: 0.82956509;
}
.circle.timber {
  background: #fc00ff;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  width: 21.79871365vh;
  height: 21.79871365vh;
  top: -21.79871365vh;
  animation: orb3 43s cubic-bezier(0.27, 0.96, 0.58, 1) alternate infinite;
  opacity: 0.59217416;
}
.circle.pig {
  background: #ee9ca7;
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  width: 37.09376001vh;
  height: 37.09376001vh;
  top: -37.09376001vh;
  animation: orb4 32s cubic-bezier(0.27, 0.96, 0.58, 1) alternate infinite;
  opacity: 0.65761857;
}
.circle.friday {
  background: #83a4d4;
  background: -webkit-linear-gradient(84deg, #b6fbff, #83a4d4);
  background: linear-gradient(84deg, #b6fbff, #83a4d4);
  width: 5.02667294vh;
  height: 5.02667294vh;
  top: -5.02667294vh;
  animation: orb5 40s cubic-bezier(0.27, 0.96, 0.58, 1) alternate infinite;
  opacity: 0.86535538;
}
body {
  background: #f6f6f6;
  margin: 0;
  padding: 0;
}
h1 {
  line-height: 100vh;
  text-align: center;
  font-size: 40vh;
  margin: 0;
  font-family: arial;
  z-index: 10;
  position: relative;
}
@keyframes orb1 {
  0% {
    transform: translatey(150vh) translatex(0vw);
  }
  100% {
    transform: translatey(-59.59775413vh) translatex(55.081633vw);
  }
}
@keyframes orb2 {
  0% {
    transform: translatey(0vh) translatex(60vw);
  }
  100% {
    transform: translatey(122.48395851vh) translatex(66.87303423vw);
  }
}
@keyframes orb3 {
  0% {
    transform: translatey(70vh) translatex(70vw);
  }
  100% {
    transform: translatey(62.38563358vh) translatex(50vw);
  }
}
@keyframes orb4 {
  0% {
    transform: translatey(50vh) translatex(10vw);
  }
  100% {
    transform: translatey(33.3300203vh) translatex(14.09563402vw);
  }
}
@keyframes orb5 {
  0% {
    transform: translatey(80vh) translatex(80vw);
  }
  100% {
    transform: translatey(100.25354133vh) translatex(4.4309705vw);
  }
}
.headercontent {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
}
