<div class="sumbitForm">
  <form ng-controller="homeController" ng-submit="submitInput(); showSimpleToast()">
    <input type="text" ng-model='username' placeholder="Username"></input> {{username}}
        <label for='levelSelect'> Level: </label>
        <select name='levelSelect' ng-model='options.level'>
          <option ng-repeat='level in options.availableLevels' value='{{level}}'>{{level}}</option>
        </select>
          <br/>
        <label for='moodSelect'> Mood: </label>
        <select name='moodSelect' ng-model='options.mood'>
          <option ng-repeat='mood in options.availableMoods' value='{{mood}}'>{{mood}}</option>
        </select>
    <label for="exampleInput">Pick a date and time:</label>
    <input type="datetime-local" id="exampleInput" name="input" ng-model="time" placeholder="yyyy-MM" min="2001-01-01T00:00:00" max="2019-12-31T00:00:00" />
      <div role="alert">
        <span class="error" ng-show="myForm.input.$error.required">
          Required!
        </span>
        <span class="error" ng-show="myForm.input.$error.datetimelocal">Not a valid date!</span>
      </div>
    <input type="submit"></input>
  </form type="submit">
</div>
