<div id='login' layout="column" layout-align="center center" layout-padding="" ng-cloak="">
  <h1>Login</h1>
  <br>
    <md-input-container md-no-float="" class="md-block">
      <md-icon></md-icon>
      <input ng-model="user.username" type="text" placeholder="Username">
    </md-input-container>

    <md-input-container md-no-float="" class="md-block">
      <md-icon></md-icon>
      <input ng-model="user.password" type="password" placeholder="Password">
    </md-input-container>
    <div>
    </div>
  </md-content>
  <md-button type="submit">Submit</md-button>
</div>
